{% extends 'base.html' %}

{% block body_block %}
    <div class="change-password__container">
        <h1 class="change-password__title">Change Password</h1>
        {% if form.non_field_errors %}
            <div class="change-password__error-message">{{ form.non_field_errors }}</div>
        {% endif %}

        <form method="POST" class="change-password__form">
            {% csrf_token %}
            {{ form.as_p|safe }}
            <button type="submit" class="change-password__button">Change Password</button>
        </form>
        <a href="{% url 'SocialMedia:user_profile' request.user.userprofileinfo.id %}" class="change-password__cancel-button">Cancel</a>
    </div>
{% endblock %}