{% extends 'base.html' %}

{% block body_block %}
<div class="profile_container">
    <div class="profile_layout">
        <div class="profile_header">
            <div class="profile_cover_photo">
                {% if profile.cover_photo %}
                    <img src="{{ profile.cover_photo.url }}" alt="Cover Photo" class="profile-cover-photo">
                {% else %}
                    <div class="default-cover-photo">No cover photo uploaded.</div>
                {% endif %}
            </div>
            <div class="profile_avatar">
                {% if profile.avatar %}
                    <img src="{{ profile.avatar.url }}" alt="Avatar" class="profile-avatar">
                {% else %}
                    <p>No avatar uploaded.</p>
                {% endif %}
            </div>
        </div>
        <div class="profile_info">
            <h1>{{ profile.user.username }} Profile</h1>
            <div class="info_details">
                <p><strong>Address:</strong> {{ profile.address }}</p>
                <p><strong>Bio:</strong> {{ profile.bio }}</p>
                <p><strong>Status:</strong> {{ profile.status }}</p>
            </div>
            <div class="profile_actions">
                {% if profile.status == 'inactive' %}
                    <div class="alert alert-warning">
                        Tài khoản đã bị tạm ngưng hoạt động nên không thể chỉnh sửa.
                    </div>
                {% elif user.is_authenticated and user == profile.user %}
                    <a href="{% url 'SocialMedia:profile_update' profile.pk %}" class="btn btn-primary">Chỉnh sửa Hồ Sơ</a>
                <div class="change_password_action" style="margin-top: 20px;">
                    <a href="{% url 'SocialMedia:change_password' profile.id %}" class="btn btn-warning">Thay đổi Mật khẩu</a>
                </div>
                {% endif %}
            </div>
            {% if user.is_staff %}
                <div class="admin_actions" style="margin-top: 20px;">
                    <a href="{% url 'SocialMedia:profile_list' %}" class="btn btn-secondary">Quản lý Người dùng</a>
                </div>
            {% endif %}
        </div>
        
        <div class="user_pages">
            {% if pages %}
                <h3>Trang:</h3>  
                <ul>
                    {% for page in pages %}
                    <li>
                        <a href="{% url 'SocialMedia:page_list' %}?page_id={{ page.id }}">{{ page.title }}</a> 
                        {% if page.posts.all %}
                            <ul>
                                {% for post in page.posts.all %}
                                <li>
                                    <a style="color: black;" href="{% url 'SocialMedia:post_detail' post.id %}">Tên bài viết: {{ post.title }} - Ngày đăng: {{ post.created_at }}</a>  
                                </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <li>Không có bài viết nào. 
                                <a href="{% url 'SocialMedia:manage_post' page.id %}">Thêm bài viết</a>
                            </li>
                        {% endif %}
                    </li>
                    {% endfor %}
                    </li>
                </ul>
            {% else %}
                <p>Không có trang nào được tạo.</p>
            {% endif %}
            <div class="add_page">
                <a href="{% url 'SocialMedia:manage_page' %}" class="btn btn-success">Tạo Trang Mới</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}